/********************* App  **************/
.App {
    display: flex;
    height: 100vh; /* Full viewport height */
    /* width: 100%;  */
    overflow: hidden; /* Prevent horizontal overflow */
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .App-link {
    color: #61dafb;
  }

  .bioImage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  }

  .bio {
  }
  
  /**************************** Navigation ***********************/
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background-color: #bfc1c7;
    color: white;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-330px);
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar.closed {
    transform: translateX(-330px);
    /* width: 10px; */
  }

  .sidebar ul {
    list-style-type: none;
    padding: 20px;
  }

  .sidebar ul li {
    margin: 15px 0;
    display: flex;
    cursor: pointer;
    list-style-type: none;
  }

  .sidebar ul li .label {
    margin-left: 10px;
    display: inline-block;
    transition: opacity 0.3s ease;
  }

  .sidebar.closed ul li .label {
    opacity: 0;
    visibility: hidden;
  }
  
  .toggle-button {
    position: absolute;
    top: 400px;
    right: 10px;
    width: 35px;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }

  .toggle-button .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .sidebar a:hover {
    color: #ff4800; /* Hover color */
  }
  
  .contact-info {
    margin-top: auto; /* Push contact info to the bottom */
    background-color: rgb(115, 110, 110);
    color: black;
    margin: 20px;
  }
  
  .contact-info li {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    margin-bottom: 10px;
    text-align: center;
    height: 5vh;
  }
  
  .contact-info .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .navigation-links {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .navigation-links .icon {
    width: 40px;
    height: 40px;
    padding: 20px;
  }

  .navigation-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease;
  }

  /************* Right/Main Content *************/
  .main-content {
    flex: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
  }

  .main-content.sidebar-open {
    margin-left: 400px;
  }

  .main-content.sidebar-closed {
    margin-left: 65px;
  }
  
  .bio-section {
    /* display: flex; */
    flex-direction: column;
  }

  .project-info a  {
    display: grid;
    z-index: auto;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;  
  }

  .project-info ul {
    padding: 10px;
  }

  .project-info .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .stack {
    padding: 20px;
    font-weight: bolder;
  }

  .project-section {
    display: grid;
    flex-direction: column;
    z-index: auto;
  }

  .bio-section, .project-section, 
  .experience-section, .education-section,
  .about-section {
    padding: 20px;
  }


/****************** MOBILE ********************/
@media (min-width: 320px) and (max-width: 424px) {
  .sidebar {
    transform: translateX(-330px);
    width: auto;
  }

  .sidebar ul li .label {
    opacity: 0;
    visibility: hidden;
  }

  .toggle-button {
    opacity: 0;
    visibility: hidden;
  }
  .experience-card ul {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .bio-section {
    display: grid;
    overflow-y: auto;
    z-index: auto;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .experience-card ul {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }
}

@media(min-width: 769px) {
  .experience-card ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
  }
}
